body{
    background-color: lightblue; ;
}
nav{
    margin: 0px;
    padding: 0px;
}
.navbar{
    width: 1140px;
    height: 71px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 10px;
    background-color:  lightblue;
    margin-left:  25px;

}
 .logo{
    width: 135px;
    
}
.menu ul{
     display: flex;
     gap: 10px; 
    /* justify-content: center;
    gap: 5px;
     align-content: space-between; */
}
.home{
    font-size: bold;
    font-weight: 500;
}
.bannar-section{
    width: 1140px;
    height: 461px;
    /* border: 1px solid red; */
    background-color: lightblue;
    margin-left: 35px;
    margin-bottom: 20px;
    margin-top: 7px;
    display: flex;
    
}
.fresh {
    color: #E95A08;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
   
}
.always {
    font-size: xx-large;
    font-weight: bold;
   
}

.bannar-title{
    margin-left: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
    /* padding-left: 10px; */
    
}
.bannar-section img {
    margin-left: 200px;
    /* padding-left: 30px;  */
}

.plants{
text-align: center;
}
.plants-text1, .latest{
    color: #E95A08;
    font-size: xx-large;
    font-weight: bold;
    margin-right: 5px;
}
.plants-text2, .deal{
    color: black;
    font-size: xx-large;
    font-weight: bold;
}
.card-section{
width: 1140px;
height: 1185px;
/* border: 1px solid red; */
display: grid;
grid-template-columns: repeat(4,1fr);

/* flex-wrap: wrap; */



/* flex: grid; */

}
.card{
    width: 265px;
    height: 445px;
    /* padding:5px; */
     margin-left: 15px; 
    margin-top: 0px;  
     border: 1px solid beige; 
}
.img{
    width: 100%;
    height: 300px;
    margin-left: 0px;
    display: fit-content;
}

.btn{
 width: 263px;
 height: 40px;
 /* padding:0px; */
 /* padding:5px; */
 background-color: #E95A08;
 color: white;
}
 .btn-div{
   width: 263px;
    height: 120px;
    margin-top: 20px;
    text-align: center;
    margin-left: 0px;
}
.btndiv-font1{
    font-weight: 500;
}
.btndiv-font2{
    font-weight: bold;
}
.love-badge-section{
    width: 1140px;
    height: 597px;
    display: flex;
    margin-left: 25px;
    gap:60px;
    /* border: 1px solid red; */
}
.love-badge-left{
    width: 540px;
    height: 597px;
    margin-top:0px;
}
.flower-store{
    position: relative;
    top: -285px;
}
.trusted-badge{
    width: 286px;
    height: 286px;
    position:relative;
    top:-115px;
    left:345px;
     z-index: 1;
     animation: spin 3s linear infinite;  
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to { 
        transform: rotate(360deg)
    }
}
.love-flower{
    font-weight: bolder;
    font-size: xx-large;
    
}
.love-section-right{
    align-items: center;
    margin-left: 5px;
    width: 540px;
    height: 520px;
    margin-top: 15px;
}
.latest-deal{
width: 1440px;
height: 138px;
align-items: center;
text-align: center;
}
.latest-deal{
    color:#000000;
}
.shop-nowdiv{
   max-width:1140px;
   /* width: 100%; */
   height: 423px;
   margin-left:25px;
   display: flex;
   gap: 10px;
    /* display: grid; */
    
}
.shop-nowdiv-left{
    display: column;
   column-gap: 5px;
   margin-bottom: 5px;
   
   

}
.shop-now{
    text-decoration: underline;
    font-weight: bold;
    color: white;
}
.shopnow-img1, .shopnow-img2, .shopnow-img3{
    position: relative;
    text-align: center;
    color: white; 
    margin: 5px;
    border-radius: 8px;
}
.shopnow-text, .shopnow-text2,.shopnow-text3{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#FFFFFF;
  font-weight: bold;
}
.shopnow-text3{
    width: 138px;
    height: 20px;
}

.shop-nowdiv-right{
max-width: 1140px;
height: 100%;
border: 2px solid #C8C8C8;
border-radius: large;
margin-left:10px;
margin-top: 5px;
} 
.join-div-all{
    display: flex;
    margin:0px;
    gap:0px;
}
.join-text{
    text-align: center;
   font-size: xx-large;
    font-weight: bold;
    color: #FFFFFF;
    
}

.placeholder{
     width: 644px;
     height: 50px;
     margin-right:0px;
     border: 1px solid grey;
     background-color: #C8C8C8;

}
.btn2{
    width: 186px;
    height: 50px;
    background-color: #E95A08;
    color: white;
    margin-left: 0px;
    margin-right:50px;

}
.news-letter-bg{
    position: relative;
    text-align: center;
     margin: 10px;
    border-radius: 8px;
    /* display: block; */
}
 .join{
    width: 830px;
    gap: 0px;
position: absolute;
text-align: center;
justify-content: center;
transform: translate(30%, -50%);
z-index: 1;
margin-left: 200px;
margin-bottom: 100px;
margin-top: 300px;
padding: 100px;
}
.footer{
    width: 1120px;
    height: 248px;
    display: flex;
    gap:10px;
    margin-left: 25px;

}
.logo-footer{
    width: 359px;
    height: 178px;
}
.footer-menu{
    width: 85px;
    height: 248px;
    /* display:grid; */
    margin-left: 45px;
}
.features{
    width: 128px;
    height: 248px;
    /* margin-top: 10px; */
    margin-left: 45px;
}
.footer-icon{
    width: 216px;
    height: 36px;
    display: flex;
    gap: 25px;
    margin-left: 40px;
    
}
