/* Responsive */

 @media screen and (max-width:576px) {
    .menu{
        display: none;
    }
    .navbar{
     display: flex;
     / min-width:300px;
     /* height: 15px; */
    /* border: 2px solid red; */
    justify-content: space-between;
    padding: 5px;
    background-color: lightblue;
    margin-left: 0px;
    }
     .logo{
    width: 35px;
    height: 35px;
    }
     .cart{
        font-size:24px;
     }


   .cart{
        display:flex;
    }
   
    .bannar-section {
    max-width:576px;
    height: 461px;
    background-color: lightblue;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top:3px;
    /* display:grid; */
    display: column;
    flex-direction:column;
    /* grid-template-columns: 1, 1fr; */
    /* display: contents;   */
   /* columns: reverse; */
    }
   .bannar-section img {
     margin-left: 0px;
   padding: 10px;
   max-width: 100%;
      order:1;
   height: auto; 
   display:block;
   justify-content: center;
   }    
   
.bannar-title{
    margin-left: 80px;
    align-items: center;
    justify-content: center;
    /* padding-top: 10px; */
    margin-bottom: 15px;
    padding: 25px;
    font-size: large;
    order:2;
    
}
  .fresh {
    color: #E95A08;
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}
.always {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-left: 60px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    order:2;
}
    .bannar-title p{
    font-size: 10px;
    text-align: center;
    justify-content: center;
    order: 2;
}
.plants{
text-align: center;
margin-top: 28px;
justify-content: center;
padding: 5px;
}
.plants-text1, .latest{
    color: #E95A08;
    font-size: xx-large;
    font-weight: bold;
    /* margin-right: 5px; */
    margin-left: 25px;
    margin-top: 40px;
    padding: 25px;
    text-align: center;
    justify-content: center;
    
}
.plants-text2, .deal{
    color: black;
    font-size: xx-large;
    font-weight: bold; 
    margin-left: 25px;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
}   
.plants p{
    font-size: 16px;
    text-align: center;

}
.card-section{
max-width: 576px;
height: 100%px;
margin-left: 30px;
/* border: 1px solid red; */
justify-content: center;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 0px;
margin-right:0px;
margin-left: 0px;
padding: 0px;
margin-bottom: 70px;

}
.card{
    width: 80%;
    height: 100%;
    /* padding:5px; */
     margin-left: 25px;
     margin-left: 25px; 
     margin-top: 10px;  
     border: 1px solid beige; 
      
}


.btn{
 width: 100%;
 height: 100px;
 margin-left: 0px;
 background-color: #E95A08;
 color: white;
}
  .btn-div{
   width: 100%;
    height: 120px;
    margin-top: 10px;
    text-align: center;
    margin-left: 0px;
 } 
 .img{
    width: 100%;
    height: 300px;
    margin-left: 0px;
    display: fit-content;
}
.love-badge-section{
    max-width: 576px;
    height: 100%;
    display: grid;
    grid-template-columns: 1;
    margin-left: 25px;
    /* gap:60px; */
    margin-top:950px;
    /* border: 1px solid red; */
    margin-bottom:0px;
}
.love-badge-left{
    max-width: 540px;
    height: 100%;
    margin-top:10px;
    order:1;
}
.flower-store{
    position: relative;
    top: -285px;
    align-items: center;
}
.trusted-badge{
    max-width: 186px;
    height: 100%;
    position:relative;
    top:-115px;
    left:345px;
     z-index: 1;
     animation: spin 3s linear infinite;  
     margin-top: 25px;
     display: none;
}
/* @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to { 
        transform: rotate(360deg)
    }
} */
.love-flower{
    font-weight: bolder;
    font-size: xx-large;  
}
.love-section-right{
    align-items: center;
    margin-left: 25px;
    /* max-width:540px; */
    height: 10%;
    margin-top: 0px;
    order: 2;
    margin-bottom:100px;
    padding;0px;
}
.latest-deal{
max-width: 576px;
height: 100%;
align-items: center;
text-align: center;
order:1;
}
.latest-deal{
    color:#000000;
    order:1;
    }
    .shop-nowdiv-right{
max-width: 576px;
height: 100%;
/* border: 2px solid #C8C8C8; */
border-radius: large;
margin-left: 20px;
margin-top: 5px;
order:2;
} 
    .shop-nowdiv{
   max-width:576px;
   /* width: 100%; */
   height: 423px;
   margin-left:25px;
   display: grid;
   grid-template-columns: 1;
   gap: 10px;
    /* display: grid; */
    
}
.shop-nowdiv-left{
    display: grid;
    grid-template-columns: 1;
   column-gap: 5px;
   margin-bottom: 5px;
   order:3;
}
.shop-now{
    text-decoration: underline;
    font-weight: bold;
    color: white;
}
/* .shopnow-img1, .shopnow-img2, .shopnow-img3{
    position: relative;
    text-align: center;
    color: white; 
    margin: 5px;
    border-radius: 8px;
} */
/* .shopnow-text, .shopnow-text2,.shopnow-text3{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#FFFFFF;
  font-weight: bold;
} */
/* .shopnow-text3{
    max-width: 138px;
    height: 20px;
} */
.join-clrbunch{
    margin-top:50px;
    max-width: 576px;
    height: 100%;

}
.join-text{
    text-align: center;
   font-size: xx-large;
    font-weight: bold;
    color: #FFFFFF;
}

.placeholder{
     max-width: 576px;
     height: 50px;
     margin-right: 10px;
     border: 1px solid grey;
}
.btn2{
    width: 186px;
    height: 50px;
    background-color: #E95A08;
    color: white;
    margin-left: 130px;

}
.news-letter-bg{
    position: relative;
    text-align: center;
     margin: 30px;
    border-radius: 8px;
    /* display: block; */
    margin-top:20px;
}
 .join{
    max-width: 576px;
    gap: 0px;
    position: absolute;
    text-align: center;
    justify-content: center;
    transform: translate(30%, -50%);
    z-index: 1;
    margin-left: 200px;
    display: grid;
    grid-template-columns: 1;
    margin-bottom: 100px;
    margin-top: 300px;
    padding: 100px;
}
.footer{
    max-width: 576px;
    height: 248px;
    display:grid;
    grid-template-columns: 1;
    margin-top:10px;

    /* gap:10px; */
    margin-left: 25px;

}
.logo-footer{
    width: 250px;
    height: 120px;
}
.footer-menu{
    width: 85px;
    height: 248px;
    /* display:grid; */
    margin-left: 45px;
    margin-top:5px;

}
.features{
    width: 128px;
    height: 248px;
    /* margin-top: 10px; */
    margin-left: 45px;
    margin-top:10px;
}
.footer-icon{
    width: 216px;
    height: 36px;
    display: flex;
    gap: 25px;
    margin-left: 40px;
    
}

}

